<tr id="question-<%= question.id %>">
  <td><%= link_to question.content, admin_category_question_path(category_id: @category.id,
    id: question.id) %></td>
  <td>
    <%= link_to "" , admin_category_question_path(category_id: @category.id, id: question.id), method: :delete,
      data: {confirm: t("confirm_action", action: t("delete"))},
      class: "glyphicon glyphicon-remove" %>
    <%= link_to "", edit_admin_category_question_path(category_id: @category.id, id: question.id),
      class: "glyphicon glyphicon-edit" %>
  </td>
</tr>
