<div class="row">
  <hr>
  <div class="col-sm-6">
    <b><%= exam.created_at.strftime(t "datetime") %></b>
  </div>
</div>
<div class="row answer-sheet">
  <hr>
  <div class="col-sm-6">
    <%= exam.category.name %>
  </div>
  <% if exam.status == Settings.exams.start %>
    <%= link_to t("exams.start"), exam_path(exam) %>
  <% else %>
    <%= link_to t("exams.view"), exam_path(exam) %>
  <%end %>
</div>
